{
    admin off
    persist_config off
    auto_https off
}

:{$PORT:8080} {
    root * /srv
    encode gzip

    @health path /health
    respond @health "OK" 200

    handle_path /api/* {
        reverse_proxy {$API_UPSTREAM_BASE_URL}
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}